<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    span {
        display: inline-block;
        width: 230px;
        margin-top: 15px;
        margin-left: 10px;
        font-weight: bold;
    }
</style>
<script>
    window.onload = function () {
        console.log(document.getElementById('request_form'))
    }
    function setPaymentInfo() {
        const id = document.getElementById("payment_id").value;
        // 추후 gateway 서버 설정 완료 시 url 변경
        fetch("http://127.0.0.1:8090/payment/"+id)
        .then((res) => {console.log("res : " + res)})
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>RemotePay</title>
</head>
<body>
    <input type="text" id="payment_id" >  <br/>
    <input type="button" value="가져오기" onclick="setPaymentInfo()"> <br/>
    <span>RemotePay Web Page</span> <br>
    <form id="request_form">
        <span>Amount</span>
        <input type="text" th:value="111"> <br/>
        <span>taxAmount</span>
        <input type="text" th:value="222"> <br/>
        <span>Service Amount</span>
        <input type="text" th:value="333"> <br/>
        <span>Phone</span>
        <input type="text" th:value="444"> <br/>
        <input type="submit">
    </form>
</body>
</html>